:root {
  --main-color: #4682b4;
  --white-color: #fff;
  --black-color: #181818;
  --text-color: #323232;
  --light-gay-color: #dee2e6;
  --secondary-color: #99b3c9;
  --btn-create: #28a745;
  --btn-create-hover: #218838;
  --primary-color: #183a9e;
  --link-color: #007bff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* html {
  font-size: 1.8rem;
  line-height: 1.6rem;
  font-family: "Calibri", "Roboto", sans-serif, Helvetica;
  box-sizing: border-box;
  scroll-behavior: smooth;
} */
